input, textarea, p{
    margin-top: 25px;
}

h4{
  margin-top: 40px;
}

textarea {
    resize: none;
}

h4, h3 {
    color: rgb(0, 61, 153);
}

p {
    color: rgb(0, 158, 200);
}

body {
    background-color: rgb(224, 224, 224);
}

.form-control {
    background-color: rgba(255, 255, 255, 0) !important;
    height: 30px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid rgb(82, 144, 249);
    margin-left: 20px;
    box-shadow: none!important;
    color: rgb(82, 144, 249);
    border-radius: 0px;
}

span {
    font-size: 14px;
    margin-left: 20px;
    color: #880000
}

.form-control::-webkit-input-placeholder {
    color: rgba(17, 5, 116, 0.73)!important;
    font-style: oblique;
}

.form-control:-moz-placeholder {
    color: rgba(17, 5, 116, 0.73)!important;
    font-style: oblique;
}

.form-control::-moz-placeholder {
    color: rgba(17, 5, 116, 0.73)!important;
    font-style: oblique;
}

.form-control:-ms-input-placeholder {
    color: rgba(17, 5, 116, 0.73)!important;
    font-style: oblique;
}

.form-control:focus {
    outline: none!important;
    box-shadow: none!important;
    border-bottom: 1px solid #0029a6!important;
}

#formBTN {
    float: right;
    background-color: rgba(255, 255, 255, 0.5) !important;
    box-shadow: none;
    border: 1px solid rgb(82, 144, 249);
    color: rgb(0, 158, 200);
}

#formBTN:focus, #formBTN:hover{
  outline: none!important;
  box-shadow: none!important;
  border: 1px solid #0029a6;
  color : #0029a6;
  background-color:  #1eadeb !important;
}


#monContenubis, #monContenu {
    opacity: 0;
}

#spoiler1, #spoiler2{
  background-color: rgba(255, 255, 255, 0.5) !important;
  box-shadow: none;
  border: 1px solid rgb(82, 144, 249);
  color: rgb(0, 158, 200);
  font-size: 14px;
}

#spoiler1:focus, #spoiler2:focus, #spoiler2:hover,#spoiler1:hover{
outline: none!important;
box-shadow: none!important;
border: 1px solid #0029a6;
color : #0029a6;
background-color: #1eadeb !important;
}
